.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items {
  display: flex;
}
.nav-items > ul {
  display: flex;
  list-style: none;
  margin-right: 10px;
}
.nav-items > ul > li {
  font-size: 24px;
  margin: 10px;
}
.Body {
  margin-top: 2px;
  border: 1px solid black;
}

.Search {
  padding: 5px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
  
}
.res-card {
 margin: 15px;
  padding: 5px;
  width: 200px;
 background-color: azure;
}
.res-card:hover{
    border: 1px solid gray;
    box-shadow: 1px 1px 5px 3px gray ;
    cursor: pointer;
}
.res-logo {
  width: 195px;
  height: 45%;
}

.filter-btn{
margin-left: 10px;
cursor: pointer;
border: 1px solid rgb(242, 179, 64);
border-radius: 10px;
background-color: rgb(241, 179, 64);
font-weight: bold;
cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: lightgray;
}

.login{
  padding: auto;
  border: 1px solid aquamarine;
  border-radius: 25%;
  height: 50px;
  width: 75px;
  background-color: aquamarine;
  box-shadow:1px 1px 5px 3px aquamarine ;
  font-weight: bold;
  cursor: pointer;
}

.filter{
  margin: 10px;
  display: flex;
}
.search-btn{
  margin-left:10px ;
  border: 1px solid rgb(242, 179, 64);
  border-radius: 10px;
  background-color: rgb(241, 179, 64);
  font-weight: bold;
  cursor: pointer;
}

.user-card{
  padding: 10px;
  border: 1px solid black;
}
.status{
  display: flex;
}
.online{
  width: 10px;
  height: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 50%;
}

.offline{
  width: 10px;
  height: 10px;
  border: 1px solid red;
  background-color: red;
  border-radius: 50%;
}